*{
  margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: url('imagenes/marmol.jpg') no-repeat center center/cover; */
  }
  
  .contenedor-principal {
    width: 80vw;
    max-width: 600px;
    min-height: 350px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  
  #crono {
    width: 100%;
    font-size: 80px;
    font-weight: bold;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }